* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial;
  background: #f4f6f8;
  text-align: center; /* 👈 centra textos */
  padding-top: 310px; /* 👈 espacio para el header */
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  gap: 15px;
  flex-wrap: wrap;
  background: #fff;
}

.logo {
  flex: 0 0 auto;
}

.logo img {
  height: 60px;
  width: auto;
  max-width: 120px;
  object-fit: contain;
}

.buscador {
  flex: 1;
  display: flex;
  justify-content: center;
}

.buscador input {
  width: 100%;
  max-width: 400px;
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.descripcion {
  font-size: 14px;
  color: #555;
  text-align: right;
  max-width: 250px;
}
.filtro {
  text-align: center;
  padding: 15px;
}
button {
  margin: 5px;
  padding: 10px 14px;
  border: none;
  background: #1e3a5f;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

button:active {
  transform: scale(0.9);
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
  padding: 10px;
}   /* 👈 aquí se cierra */

@media (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    max-width: 1000px;
    margin: auto;
  }
}
@media (max-width: 768px) {
  .header {
    flex-direction: column;
    text-align: center;
  }
  @media (max-width: 768px) {
  .footer {
    flex-direction: column;
    text-align: center;
  }
}

  .descripcion {
    text-align: center;
  }
}

.producto {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
}

/* 👇 esto es APARTE */
.producto img {
  width: 100%;
  height: 240px;
  object-fit: cover;
}

/* 👇 esto es APARTE */
.producto h4 {
  min-height: 40px;
}

/* 👇 esto es APARTE */
.producto a {
  margin-top: auto;
}
.producto {
  transition: opacity 0.2s ease, transform 0.2s ease;
}

.producto.oculto {
  opacity: 0;
  transform: scale(0.95);
  pointer-events: none;
}
.precio {
  font-size: 18px;
  font-weight: 700;
  color: #25a244;
  background: #e9f9ee;
  padding: 5px 10px;
  border-radius: 8px;
  display: inline-block;
  margin-top: 5px;
}
/* BOTÓN */
a {
  display: block;
  background: #25D366;
  color: white;
  padding: 8px;
  border-radius: 6px;
  text-decoration: none;
  margin-top: 5px;
}
.footer {
  background: #111;
  color: #fff;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 30px 20px;
  flex-wrap: wrap;
}

.footer div {
  flex: 1;
  min-width: 200px;
}

.footer h4 {
  margin-bottom: 10px;
  font-size: 16px;
}

.footer p {
  margin: 5px 0;
  font-size: 14px;
  color: #ccc;
}
