body {
  margin: 0;
  font-family: Arial;
  background: #f4f6f8;
  text-align: center; /* 👈 centra textos */
  padding-top: 310px; /* 👈 espacio para el header */
}

header {
  background: #1e3a5f;
  color: white;
  text-align: center;
  padding: 20px;

  position: fixed;   /* 👈 importante */
  top: 0;
  width: 100%;
  z-index: 1000;

  transition: transform 0.3s ease;
}

.logo {
  width: 140px;   /* 👈 más grande */
  max-width: 90%;
}

.filtros {
  display: flex;
  gap: 10px;
  overflow-x: auto;
  padding: 10px;
  white-space: nowrap;

  /* mejora visual */
  scrollbar-width: none; /* Firefox */
}

.filtros::-webkit-scrollbar {
  display: none; /* Chrome */
}

.filtro {
  flex: 0 0 auto;
  padding: 8px 14px;
  border: none;
  border-radius: 20px;
  background: #eee;
  cursor: pointer;
  font-size: 14px;
  transition: 0.2s;
}

.filtro:hover {
  background: #ddd;
}

.filtro.activo {
  background: #25a244;
  color: white;
}

button {
  margin: 5px;
  padding: 10px 14px;
  border: none;
  background: #1e3a5f;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

button:active {
  transform: scale(0.9);
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
  padding: 10px;
}   /* 👈 aquí se cierra */

@media (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    max-width: 1000px;
    margin: auto;
  }
}

.producto {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
}

/* 👇 esto es APARTE */
.producto img {
  width: 100%;
  height: 240px;
  object-fit: cover;
}

/* 👇 esto es APARTE */
.producto h4 {
  min-height: 40px;
}

/* 👇 esto es APARTE */
.producto a {
  margin-top: auto;
}
.precio {
  font-size: 18px;
  font-weight: 700;
  color: #25a244;
  background: #e9f9ee;
  padding: 5px 10px;
  border-radius: 8px;
  display: inline-block;
  margin-top: 5px;
}
/* BOTÓN */
a {
  display: block;
  background: #25D366;
  color: white;
  padding: 8px;
  border-radius: 6px;
  text-decoration: none;
  margin-top: 5px;
}

