body {
  margin: 0;
  font-family: Arial;
  background: #f4f6f8;
  text-align: center; /* 👈 centra textos */
  padding-top: 310px; /* 👈 espacio para el header */
}

header {
  background: #1e3a5f;
  color: white;
  text-align: center;
  padding: 20px;

  position: fixed;   /* 👈 importante */
  top: 0;
  width: 100%;
  z-index: 1000;

  transition: transform 0.3s ease;
}

.logo {
  width: 140px;   /* 👈 más grande */
  max-width: 90%;
}

/* FILTRO */
.filtro {
  text-align: center;
  padding: 15px;
}

button {
  margin: 5px;
  padding: 10px 14px;
  border: none;
  background: #1e3a5f;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

button:active {
  transform: scale(0.9);
}

/* GRID */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 220px)); /* 👈 clave */
  gap: 15px;
  justify-content: center;  /* 👈 centra las tarjetas */
  padding: 10px;
}

/* PRODUCTO */
.producto {
  width: 100%;
  max-width: 220px;  /* 👈 evita que crezca demasiado */
  margin: auto;
}

.producto img {
  width: 100%;
  border-radius: 10px;
}

.producto:hover {
  transform: translateY(-5px);
}

/* BOTÓN */
a {
  display: block;
  background: #25D366;
  color: white;
  padding: 8px;
  border-radius: 6px;
  text-decoration: none;
  margin-top: 5px;
}
